.size {
    @apply w-fit h-6 text-sm lg:h-10 lg:px-4 px-2 border rounded flex items-center justify-center;
}

.three_buttons_add_to_cart {
    @apply flex-1 h-12 bg-secondary rounded-sm text-white border border-greny hover:bg-secondary/70 transition-colors;
}

.three_buttons_quick_buy {
    @apply w-full h-12 text-center items-center flex justify-center bg-greny hover:bg-greny/80 text-black font-medium rounded-sm;
}

.x_cursor {
    @apply fixed w-8 h-8 pointer-events-none z-50 -ml-4 -mt-4 flex items-center justify-center;
}

.x_cursor_x {
    @apply w-full h-full rounded-full bg-white flex items-center justify-center;
}

.discount_badge {
    @apply bg-[#d8e8dd] px-2 py-1 rounded-full text-xs sm:text-sm text-black font-semibold;
}

.scroll_arrow {
    @apply fixed z-30 bottom-28 right-8 bg-white text-teal-950 rounded-sm lg:w-10 lg:h-10 h-8 w-5 shadow-lg hover:bg-gray-100;
}

.grid_group {
    @apply flex items-center gap-3 flex-1 justify-center;
}

.grid_item {
    @apply cursor-pointer text-whity/50 hover:text-whity transition-colors duration-150;
}

.grid_item_selected {
    @apply text-white;
}

.payment_checkbox {
    @apply w-5 h-5 appearance-none rounded-full border-2 border-[#527692]
    bg-transparent
    relative
    checked:bg-[#86df0e]
    checked:border-0
    before:content-[''] before:w-2 before:h-2 before:rounded-full
    before:absolute before:top-1/2 before:left-1/2
    before:-translate-x-1/2 before:-translate-y-1/2
    checked:before:bg-black
    focus:outline-none focus:ring-0 focus:ring-offset-0
    transition-all duration-150;
}
